[submodule "dependency/WTL"]
	path = dependency/WTL
	url = https://git.code.sf.net/p/wtl/git
	branch = master
[submodule "dependency/simpleini"]
	path = dependency/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "dependency/backends"]
	path = dependency/backends
	url = https://github.com/jarupxx/lhaforge_dependencies.git
	branch = master
